---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import DestinationsSection from '../components/DestinationsSection.astro';
---

<Layout title="Terremóvil">
	<Hero page="destinos" />

	<section class="py-32">
		<DestinationsSection />
	</section>
</Layout>
