---
import { HOME_SEO } from '@data/seo';

import { HOME } from '@data/heroes';
import { HOME_FEATURES } from '@data/features';
import { HOME_STATS } from '@data/stats';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import BookingWidget from '@components/BookingWidget.astro';
import Features from '@components/FeatureGrid.astro';
import Stats from '@components/Stats.astro';
import Destinations from '@components/Destinations.astro';
import Mockup from '@components/Mockup.astro';
import FleetSection from '@components/FleetSection.astro';
---

<Layout {...HOME_SEO}>
	<Hero {...HOME} />

	<BookingWidget />

	<section class="py-8 md:py-12 lg:pt-20 lg:pb-32">
		<Features {...HOME_FEATURES} reversed={true} />
	</section>

	<Stats items={HOME_STATS} />

	<section class="py-20 lg:py-32">
		<Destinations limit={8} showButton={true} />
	</section>

	<Mockup />

	<FleetSection />
</Layout>
