---
import { Image } from 'astro:assets';
import menuIcon from '../assets/icons/menu-logo.svg';
import logo from '../assets/img/terramovil_logo.png';

import { NAV_LINKS } from '../data/site-info';

const currentPath = Astro.url.pathname;
---

<header class="bg-primary py-6">
	<div class="max-w-container mx-auto flex w-[95%] items-center justify-between">
		<a href="/" class="cursor-pointer">
			<Image src={logo} alt="Logo Terramovil" width={300} height={27} class="w-[200px] lg:w-[300px]" />
		</a>

		<nav class="hidden items-center md:flex lg:gap-6">
			{
				NAV_LINKS.map((link) => {
					const normalizedHref = link.href.replace(/^\./, '');

					const isActive = normalizedHref === '/' ? currentPath === '/' : currentPath.startsWith(normalizedHref);

					return (
						<a
							href={link.href}
							class={`block border-b-2 border-transparent p-2 text-white transition-colors hover:text-white/90 lg:text-lg ${isActive ? 'border-b-2 border-white font-bold' : 'border-b-2 border-transparent hover:text-white/90'}`}>
							{link.label}
						</a>
					);
				})
			}
		</nav>

		<button class="md:hidden" aria-label="Abrir menú de navegación">
			<Image src={menuIcon} alt="" width={24} height={24} />
		</button>
	</div>
</header>
