---
import { Image } from 'astro:assets';
import appMockupImg from '../assets/img/mockup.png';
---

<section class="bg-primary relative py-20 xl:py-40">
	<div class="max-w-container mx-auto grid w-[95%] gap-10 lg:grid-cols-2 lg:gap-0">
		<div class="mx-auto flex max-w-[500px] flex-col gap-6 text-center md:max-w-[700px] lg:text-left">
			<h2 class="text-3xl leading-tight text-white md:text-5xl">La terminal de buses ahora está en tu bolsillo</h2>

			<p class="text-lg text-white">
				Olvídate de las filas y los horarios de ventanilla. Busca, elige tu asiento favorito y compra tu pasaje en
				segundos, estés donde estés.
			</p>

			<div class="flex flex-col gap-4 md:mx-auto md:flex-row lg:mx-0">
				<a
					href="#form-toast"
					class="flex items-center justify-center rounded-lg bg-white px-8 py-3 text-black shadow-lg transition-transform hover:scale-105 hover:bg-gray-100">
					Comprar Pasaje
				</a>

				<a
					href="https://wa.me/123456789"
					target="_blank"
					rel="noopener noreferrer"
					class="hover:text-primary flex items-center justify-center rounded-lg border-2 border-white px-8 py-3 text-white transition-colors hover:bg-white">
					Ayuda por WhatsApp
				</a>
			</div>
		</div>

		<div class="relative hidden lg:block">
			<Image
				src={appMockupImg}
				alt="App Terramovil en iPhone"
				class="absolute top-[calc(50%-240px)] z-10 h-auto w-full transform object-contain drop-shadow-2xl lg:-right-20 lg:scale-150 xl:scale-200"
			/>
		</div>
	</div>
</section>
