---
import type { StatItem } from '@interfaces/components';

interface Props {
	items: StatItem[];
}

const { items } = Astro.props;
---

<section class="py-12 lg:py-24">
	<div class="max-w-container mx-auto w-[95%]">
		<div class="grid grid-cols-1 divide-y divide-gray-200 md:grid-cols-3 md:gap-8 md:divide-x md:divide-y-0">
			{
				items.map((stat) => (
					<div class="flex flex-col items-center gap-2 px-4 py-8 text-center md:py-2">
						<span class="text-primary text-5xl leading-none font-extrabold xl:text-[80px]">{stat.value}</span>

						<p class="max-w-[280px] text-lg leading-tight font-bold text-gray-900 lg:max-w-[80%] lg:text-xl">
							{stat.label}
						</p>
					</div>
				))
			}
		</div>
	</div>
</section>
