---
import { STATS_DATA } from '../data/stasts';
---

<section class="py-8 md:py-12 lg:py-20">
	<div class="max-w-container mx-auto w-[95%]">
		<div class="grid grid-cols-1 divide-y divide-gray-200 md:grid-cols-3 md:gap-6 md:divide-x md:divide-y-0">
			{
				STATS_DATA.map((stat) => (
					<div class="flex flex-col items-center gap-2 py-8 text-center md:text-left lg:gap-8 lg:py-0">
						<span class="text-primary text-5xl font-bold lg:text-center lg:text-[80px]">{stat.value}</span>

						<p class="mx-auto max-w-80 text-[20px] leading-tight font-bold text-black md:mx-0 lg:text-center">
							{stat.label}
						</p>
					</div>
				))
			}
		</div>
	</div>
</section>
